body {
    font-family: "Lato", "Source Sans Pro", Roboto, "San Francisco", "Segoe UI", sans-serif;
    color: #212121;
    font-size: 75%;
    -webkit-print-color-adjust: exact !important;
}

a {
    text-decoration: none;
}

* {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 16pt;
}

.content {
    max-width: 40rem;
    width: 100%;
}

@media print {
    .container {
        padding: 0;
    }
    
    .content {
        max-width: 100%;
        padding: 0 2pt;
    }

    html, body {
        margin: 0 !important; 
        padding: 0 !important;
        overflow: hidden;
    }
}

.content > section:first-child {
    margin-top: 0;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    width: 100%;
    flex-wrap: wrap;
}

@media only screen and (max-width: 40rem) {
    .info-row {
        flex-direction: column;
    }

    .info-row > * {
        flex: 0;
    }
}

.flex-row > * {
    align-self: flex-start;
    margin: 0;
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    width: 100%;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

h1 {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 600;
}

h2 {
    font-size: 1.25em;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 4pt;
    margin-bottom: 4pt;
}

ul {
    padding-left: 16pt;
}

@media only screen and (max-width: 40rem) {
    /* top-level ul */
    :not(li) > ul {
        padding-left: 0;
    }
}

ul > li {
    list-style-type: none;
}

ul > li:before {
    content: "•";
    padding-right: 4pt;
}

ul > li > ul > li:before {
    content: "⚬";
}

/* Prevent purple links when printing to PDF */
a:visited{
    color:blue;
}

.text-right {
    text-align: right;
}

.name-contact-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.name-contact-box > * {
    margin-top: 2pt;
    margin-bottom: 2pt;
    text-align: left;
}

.social-box {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    align-self: center;
    text-align: left;
}

.social-box > * {
    margin: 2pt 0;
}

@media only screen and (max-width: 40rem) {
    .social-box {
        align-self: start;
    }
}

.social-box > p > .icon {
    margin-right: 2pt;
}

.blurb {
    font-style: italic;
    font-weight: normal;
    margin-top: 10pt;
    margin-bottom: 10pt;
}

.name {
    font-size: 2em;
    margin-top: 0pt;
}

section {
    margin-top: 8pt;
}

.section-header-line {
    height: 0;
    border-top: 2px dashed #212121;
    width: 100%;
    align-self: flex-end;
    margin-bottom: 3pt;
    margin-left: 4pt;
}

.section-header {
    margin-bottom: 4pt;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    font-family: 'IBM Plex Mono', monospace;
    line-height: calc(100% + 4pt);
}

.skills-list > span {
    border: 1px solid #aaaaaa;
    border-radius: 2pt;
    padding-right: 10pt;
    padding: 2pt 4pt;
    margin: 2pt 2pt;
    white-space: nowrap;
}

.skills-list .skills-legend {
    background-color: #e1e1e1;
    border-color: #e1e1e1;
}

.show-mobile {
    display: none;
}

.technologies {
    margin-left: 2pt;
    margin-bottom: 1pt;
    color: #aaaaaa;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 0.6rem;
    line-height: calc(100% + 8pt);
}

.technologies > span {
    border: 1px solid #aaaaaa;
    border-radius: 2pt;
    padding: 0 4pt;
    white-space: nowrap;
}

.project-dates-title {
    line-height: 100%;
}

.dates-description {
    text-transform: uppercase;
    opacity: 0.6;
    font-size: 0.6rem;
    font-weight: bold;
    padding: 0;
    font-family: 'IBM Plex Mono', monospace;
}

.project-header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-top: 6pt;
}

.project-header > .project-dates-title {
    flex: 1;
}

.text-transform-exception {
    text-transform: none;
}

#education {
    margin-top: 0;
}

@media only screen and (max-width: 40rem) {

    .hide-mobile {
        display: none;
    }

    .show-mobile {
        display: inline;
    }

    .project-header {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 4pt;
    }

    body {
        font-size: 100%;
    }

    .technologies {
        font-size: 0.7rem;
    }

    #education {
        margin-top: 4pt;
    }
}

.web-icon {
    display: none !important;
}